<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${user.firstName}</title>
</head>
<body>
<h3>Имя - ${user.firstName}</h3>
<h3>Фамилия - ${user.lastName}</h3>
<h3>Email - ${user.email}</h3>
<h3>Статус - ${user.state}</h3>
<h3>Доступ - ${user.role}</h3>
<br>
<form method="post" action="/users/${user.id}/update">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    <label>
        Имя: <input name="firstName" value="${user.firstName}">
    </label>
    <label>
        Фамилия: <input name="lastName" value="${user.lastName}">
    </label>
    <label>
        Email: <input name="email" value="${user.email}">
    </label>
    <label>
        Статус: <input name="state" value="${user.state}">
    </label>
    <label>
        Доступ: <input name="role" value="${user.role}">
    </label>
    <input type="submit" value="Сохранить..">
</form>
</body>
</html>